@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');
body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 15rem 30rem 30rem;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
}

img {
    grid-column: 3;
    height: 100px;
    width: 100px;
}

.info {
    background-color: white;
    padding: 2rem;
    color: black;
}

.circle {
    float: left;
    height: 200px;
    width: 200px;
    shape-outside: circle();
}

.circle:hover {
    background: linear-gradient(to top right, #FDB171, #FD987D);
    opacity: .4;
}

.circle2 {
    float: left;
    height: 200px;
    width: 200px;
    shape-outside: circle();
    clip-path: circle();
    background: linear-gradient(to top right, #FDB171, #FD987D);
}