@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Potta+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --primary: #5CDB95;
    --secondary: #05386B;
    --headings: 'Potta One', cursive;
    --paragraphs: 'Londrina Solid', cursive;
    --extra: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary);
}

h1,
h2,
h3,
h4 {
    color: var(--secondary);
    font-family: var(--headings);
}

p {
    color: white;
    font-family: var(--paragraphs);
}

div {
    font-family: var(--extra);
}